@import "variable";
@import "score_board";
@import "game_option";

body {
  background-color: #1A294A;
}

#app {
  margin: 0px auto;
  font-family: $font_main;
  padding-top: 48px;
  min-height: 100vh;
  .container {
    width: 1366px;
  }
}
