@import "variable";
@import "score_board";

#app {
  margin: 0px auto;
  font-family: $font_main;
  padding-top: 48px;
  background-color: black;
  min-height: 100vh;
  .container {
    width: 1366px;
  }
}
